header {
  display: flex;
  justify-content: space-between;
}

#login {
  background: transparent;
  border: none;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#explorar {
  background: transparent;
  border: 1px solid #ffffff;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: white;
  position: relative;
  top: 225px;
  left: 125px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  z-index: 1;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
}

body {
  background-color: black;
}

.background-image img {
  height: 600px;
  position: relative;
  left: 350px;
  z-index: 0;
  bottom: 100px;
}

#premium-button button {
    z-index: 2;
    background-color: yellow;
    position: absolute;
    top: 380px;
    left: 135px;
}