body {
  background-image: url(BACKGROUND.png);
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-between;
}

#log-in,
#explore,
#logo {
  cursor: pointer;
}

#log-in,
#explore {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 25px;
  font-weight: bold;
  color: white;
  position: relative;
  right: 100px;
  top: 5px;
}

#log-in {
  background-color: black;
  border: 2px solid black;
  right: 120px;
}

#explore {
  background-color: transparent;
  border: 2px solid white;
}

#logo {
  position: relative;
  left: 90px;
  top: 15px;
}

#upgrade-experience {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: 100px;
  left: 175px;
}

#enjoy-more {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: 250px;
  font-size: 50px;
  font-style: italic;
  text-align: center;
}

#premium {
  display: flex;
  background-color: goldenrod;
  font-weight: bold;
  position: relative;
  left: 175px;
  top: 95px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
  border: transparent;
  align-items: center;
  cursor: pointer;
}

h2 {
  color: white;
  position: relative;
  top: 100px;
  left: 175px;
  font-size: smaller;
  font-weight: lighter;
}

#crown {
  display: flex;
  height: 30px;
}

#upgrade-experience,
#premium,
#enjoy-more h2 {
  z-index: 1;
}

#compare-plans {
  display: flex;
  background-color: black;
  border: transparent;
  color: chocolate;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  left: 170px;
  top: 100px;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

#compare-plans2 {
  display: flex;
  text-align: center;
  background-color: black;
  border: transparent;
  color: chocolate;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  left: 45%;
  top: 225px;
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
