body {
  background-color: black;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
}

#log-in,
#explore,
#logo {
  cursor: pointer;
}

#log-in,
#explore {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px 25px;
  font-weight: bold;
  color: white;
  position: relative;
  right: 100px;
  top: 5px;
}

#log-in {
  background-color: black;
  border: 2px solid black;
  right: 120px;
}

#explore {
  background-color: transparent;
  border: 2px solid white;
}

#logo {
  position: relative;
  left: 90px;
  top: 15px;
}

h1 {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  position: relative;
  top: 100px;
  left: 175px;
}

#premium {
  display: flex;
  background-color: rgb(255, 183, 0);
  font-weight: bold;
  position: relative;
  left: 175px;
  top: 95px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 10px;
  border: transparent;
  align-items: center;
  cursor: pointer;
}

h2 {
  color: white;
  position: relative;
  top: 100px;
  left: 175px;
  font-size: smaller;
  font-weight: lighter;
}

#crown {
  display: flex;
  height: 30px;
}

h1,
#premium,
h2 {
  z-index: 1;
}
